<ul>
<%= if @current_user_backoffice do %>
  <li><%= @current_user_backoffice.email %></li>
  <li><%= link "Settings", to: Routes.user_backoffice_settings_path(@conn, :edit) %></li>
  <li><%= link "Log out", to: Routes.user_backoffice_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <li><%= link "Log in", to: Routes.user_backoffice_session_path(@conn, :new) %></li>
<% end %>
</ul>
