<h1>Log in</h1>

<%= form_for @conn, Routes.user_backoffice_session_path(@conn, :create), [as: :user_backoffice], fn f -> %>
  <%= if @error_message do %>
    <div class="alert alert-danger">
      <p><%= @error_message %></p>
    </div>
  <% end %>

  <%= label f, :email %>
  <%= email_input f, :email, required: true %>

  <%= label f, :password %>
  <%= password_input f, :password, required: true %>

  <%= label f, :remember_me, "Mantenha-me logado por 60 dias" %>
  <%= checkbox f, :remember_me %>

  <div>
    <%= submit "Log in" %>
  </div>
<% end %>

<p>
  <%= link "Forgot your password?", to: Routes.user_backoffice_reset_password_path(@conn, :new) %>
</p>
