<h1>Resend confirmation instructions</h1>

<%= form_for :user_backoffice, Routes.user_backoffice_confirmation_path(@conn, :create), fn f -> %>
  <%= label f, :email %>
  <%= email_input f, :email, required: true %>

  <div>
    <%= submit "Resend confirmation instructions" %>
  </div>
<% end %>

<p>
  <%= link "Log in", to: Routes.user_backoffice_session_path(@conn, :new) %>
</p>
